streamlit

# Utilities
numpy
pandas

#FACE - Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
# pin setuptools to a version that still provides pkg_resources
# to avoid ModuleNotFoundError from packages that import pkg_resources
setuptools<81

supabase
bcrypt

segno
pillow



librosa
resemblyzer